<div class="header main-background py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido!</h1>
          <p class="text-lead text-light">Ingresa un nuevo paquete en Sava Express</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ingresa los siguiente campos</small>
          </div>
          <form role="form">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Usuario" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" placeholder="Traking-Number" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" placeholder="Código Sava" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" placeholder="Peso en libras" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input class="form-control" placeholder="Costo" type="text">
              </div>
            </div>
            <div class="form-group">
            <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                  </div>
                  <input class="flatpickr flatpickr-input form-control" type="text" placeholder="FECHA DE LLEGADA A BODEGA DE MIAMI">
                </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                  </div>
                  <input class="flatpickr flatpickr-input form-control" type="text" placeholder="FECHA DE SALIDA DE BODEGA DE MIAMI">
                </div>
            </div>
            <div class="form-group">
            <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                  </div>
                  <input class="flatpickr flatpickr-input form-control" type="text" placeholder="FECHA ESTIMADA DE LLEGADA A ECUADOR">
                </div>
            </div>
            <div class="form-group">
              <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estado del Paquete</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Recibido en Miami</a>
                    <a class="dropdown-item" href="#">Enviado a Ecuador</a>
                    <a class="dropdown-item" href="#">Recibido en Ecuador</a>
                    <a class="dropdown-item" href="#">Entregado</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div><!-- /btn-group -->
            </div>
            <div class="form-group">
            <div class="fileinput fileinput-new text-center mr-5" data-provides="fileinput">
   <div class="fileinput-new thumbnail img-raised">
	<img src="../../../assets/img/theme/image_placeholder.jpg" alt="..."  width="200" height="200">
   </div>
   <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
   <div>
	<span class="btn btn-raised btn-round btn-primary btn-simple btn-file">
	   <span class="fileinput-exists">Seleccionar Imagén</span>
	   <input type="file" name="..." />
	</span>
  <span class="btn btn-raised btn-round btn-primary btn-simple btn-file">
	   <span class="fileinput-exists">Seleccionar Imagén</span>
	   <input type="file" name="..." />
	</span>
        <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
        <i class="fa fa-times"></i> Eliminar</a>
   </div>
</div>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Esta Seguro de ingresar el paquete en Sava Express</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4">Agregar Paquete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
