<div class="row mb-4 img-box align-items-start">
  <div class="col-4 img">
      <img src="../../../assets/img/icons/common/package.jpg" alt="package" />
  </div>
  <div class="col box-text">
      <p class="package-code">Paquete 15</p>
  </div>
</div>
<div class="row">
  <div class="col progress">
      <ul class="progress-bar">
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </div>
</div>
<div class="row flex-row align-items-center flex-nowrap">
  <div class="col-11 package-location">
      <p>En bodega de Miami</p>
  </div>
  <div (click)="displayEntry(detail)" class="image-details col-1 px-1">
      <img src="../../../assets/img/icons/common/details.png" alt="details" />
  </div>
</div>

<ng-template #detail let-modal>
  <div class="modal-container">
      <div class="modal-header justify-content-center pl-5">
          <h1 class="modal-title" id="modal-basic-title">Detalles Del Paquete</h1>
      </div>
      <div class="modal-body text-center">
          <form>
              <div class="form-row justify-content-center">
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Código</label>
                      <input type="text" readonly class="form-control-plaintext text-center" id="inputEmail4"
                          placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputPassword4">Fecha de llegada</label>
                      <input type="text" readonly class="form-control-plaintext text-center" id="inputEmail4"
                          placeholder="Email">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Precio</label>
                      <input type="text" readonly class="form-control-plaintext text-center" id="inputEmail4"
                          placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Peso</label>
                      <input type="text" readonly class="form-control-plaintext text-center" id="inputEmail4"
                          placeholder="Email">
                  </div>
              </div>
          </form>
      </div>
      <div class="container">
          <div class="container-fluid">
              <div class="row justify-content-center">
                  <div class="col-md-4 px-0">
                      <img class="img-thumbnail clickeable"
                          (click)="Pictures.CreateModal('../../../assets/img/icons/common/package.jpg')"
                          src="../../../assets/img/icons/common/package.jpg" alt="details" />
                  </div>
                  <div class="col-md-4 px-0">
                      <img class="img-thumbnail clickeable" src="../../../assets/img/icons/common/package.jpg"
                          alt="details" />
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer justify-content-around">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cerrar</button>
    </div>
</ng-template>

<app-picture #Pictures ></app-picture>
  