.img-size{
  width: 5vh;
  height: 5vh;
}
.click{
  cursor: pointer;
}
.btn{
  background-color: #2D6CB5;
}
.texto{
  font-family: var(--content-font);
  color: #003462;
  font-weight: bold; 
}

.mat-form-field{
  width:40vh !important;
  height: 6vh!important;
}

::ng-deep .mat-form-field-appearance-outline#specific-border .mat-form-field-outline  {
  background-color: white !important;
  border-radius: 5px;  
}
::ng-deep .mat-form-field-outline {
  color: #003462 !important;
}
// to change label color
::ng-deep .mat-form-field-label {
  color: #003462 !important;
}
.package-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2% 5%;
}