<div class="header main-background pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <select class="input-box" [formControl]="package_instance" style="width: 200px; margin-top: 60px;">
        <option [ngValue]="null" hidden>Selecionar tipo de paquete</option>
        <option *ngFor="let package of packagesOptions" [value]="package">{{ package }}</option>
      </select>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div>
  </div>
  <!-- Table -->
  <div class="row mt-0">
    <div class="col">
      <div class="card shadow" *ngIf="default_package === 'Paquetes bodega'; else savaPackage">
        <div class="row ml-0 mr-0 ">
          <div class="col-6 card-header border-0">
            <h3 class="mb-0">Paquetes en bodega.</h3>
          </div>
          <div class="col-3 pt-2 offset-md-2">
            <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto"
              onsubmit="return false">
              <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input #correo (keyup.enter)="searchWarehousePackage(correo.value)" class="form-control"
                    placeholder="Buscar" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">Cliente</th>
                <th scope="col"> Número de tracking</th>
                <th scope="col"> Código sava</th>
                <th scope="col">Peso</th>
                <th scope="col">Costo</th>
                <th scope="col">Fecha de llegada a bodega</th>
                <th scope="col">Imagenes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let package of warehousePackageFilter">
                <th scope="row">
                  <div class="media align-items-center">
                <td class="text-left">
                  <div ngbDropdown placement="bottom-left">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-left dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="deleteWarehousePackage(package)">Eliminar</a>
                    </div>
                  </div>
                </td>
                <div class="media-body">
                  <span class="mb-0 text-sm">{{ package.Client.email|| "-"}}</span>
                </div>
        </div>
        </th>
        <td id="{{package.tracking_number}}">{{ package.tracking_number || "-" }}</td>
        <td>{{ package.sava_code || "-"}} </td>
        <td>{{ package.pounds || "-"}} </td>
        <td>{{ package.price || "-"}} </td>
        <td>{{ package.arrival_date | date: "dd-MM-yyy HH:mm:ss" || "-"}} </td>
        <td>
          <div class="avatar-group" *ngFor="let image of package.Images">
            <a href="javascript:void(0)" class="avatar avatar-lg rounded-circle" data-toggle="tooltip"
              data-original-title="Romina Hadid">
              <img alt="Image placeholder" src="{{image.source}}" class="rounded-circle">
            </a>
          </div>
        </td>
        </tr>
        </tbody>
        </table>
      </div>
    
    </div>
    <ng-template #savaPackage>
      <div class="card shadow">
        <div class="row ml-0 mr-0 ">
          <div class="col-6 card-header border-0">
            <h3 class="mb-0">Paquetes sava.</h3>
          </div>
          <div class="col-3 pt-2 offset-md-2">
            <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto"
              onsubmit="return false">
              <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input #correo (keyup.enter)="searchSavaPackage(correo.value)" class="form-control"
                    placeholder="Buscar" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">Cliente</th>
                <th scope="col"> Código sava</th>
                <th scope="col">Precio</th>
                <th scope="col">Peso</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de salida de bodega</th>
                <th scope="col">Fecha llegada a Ecuador</th>
                <th scope="col">Paquetes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let package of savaPackageFilter">
                <th scope="row">
                  <div class="media align-items-center">
                <td class="text-left">
                  <div ngbDropdown placement="bottom-left">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-left dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="editSavaPackage(package)">Editar</a>
                      <a class="dropdown-item" (click)="deleteSavaPackage(package)">Eliminar</a>
                    </div>
                  </div>
                </td>
                <div class="media-body">
                  <span class="mb-0 text-sm">{{ package.Client.email || "-"}}</span>
                </div>
        </div>
        </th>
        <td>{{ package.sava_code || "-"}} </td>
        <td>{{ package.price || "-" }} </td>
        <td>{{ package.weight || "-" }} </td>
        <td> <span class="badge badge-dot mr-4">
            <i class="bg-danger"></i> {{ package.status || "-"}}
          </span> </td>
        <td style="align-items: center;">{{ (package.departureDate | date: "dd-MM-yyy HH:mm:ss") || "-" }} </td>
        <td style="align-items: center;">{{ (package.arrival_date_destiny | date: "dd-MM-yyy HH:mm:ss") || "-"}} </td>
        <div class="avatar-group" *ngFor="let package of package.WarehousePackages">
          <td>{{package.tracking_number || "-"}}</td>
        </div>
        </tr>
        </tbody>
        </table>
      </div>
   
  </div>
  </ng-template>
</div>
</div>
<button id="addPackage" class="btn btn-primary mt-5 mb-2" *ngIf="default_package === 'Paquetes bodega'"
  (click)="openPackagesAdminDialog()" type="submit">Agregar Paquete</button>