.paquetes{
  padding-left: 5rem;
  padding-right: 5rem;
}
@media only screen and (min-width: 992px) {
  .paquetes{
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
label{
  color: #003462;
  font-size: 1rem;
}
::ng-deep .mat-tab-label,.mat-tab-label-active{
  font-size: 1rem;
  color: white;
}

::ng-deep .mat-tab-header{
  background-color: #2D6CB5;
}
::ng-deep  .mat-ink-bar  {
  background-color: #FEBE10!important;;
}

.package-box {
  background-color: var(--default-color);
  border-radius: 15px;
  border-bottom: 10px solid var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 45%;
  margin-bottom: 2%;
  padding: 2%;
}
.package-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 5%;
}

.img img {
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  object-fit: cover;
}

.box-text p {
  text-align: end;
  color: var(--main-color);
  font-weight: bold;
  font-size: 4vh;
}

.row .package-location {
  font-size: 2.5vh;
  font-weight: 600;
}

.row .image-details img {
  width: 4vh;
  height: 4vh;
}

.row .image-details {
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  width: 6vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .image-details:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.package-location p {
  margin: 0;
}

button {
  background-color: var(--side-color);
  color: var(--default-color);

}

button:hover {
  background-color: var(--main-color);
}

.modal-container {
  padding: 2em;
}

::ng-deep .modal-content {
  border-radius: 1em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom: 10px solid var(--main-color);
}

.progress {
  background-color: var(--default-color);
  margin-bottom: 1vh;
  height: 20px!important;
}

ul.progress-bar {
  background-color: var(--default-color);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

ul.progress-bar li {
  background: var(--bar-bg-color);
  border-radius: 100px;
  width: 15px;
  height: 15px;
  z-index: 1;
  position: relative;
}

ul.progress-bar li::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 5px;
  background: var(--bar-bg-color);
  height: 5px;
  width: 100vh;
  z-index: 1;
}

.active, ul.progress-bar li.active::after {
  animation: pulse 2s infinite;

}

@keyframes pulse {
  0% {
    background-color: var(--bar-bg-color);
  }
  50% {
    background-color: var(--side-color);
  }
  100% {
    background-color: var(--bar-bg-color);
  }
}