<div class="header main-background pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div>
  </div>

<div class="row mt-0">
  <div class="col">
    <div class="card shadow">
        <div class="row ml-0 mr-0 " >
          <div class="col-6 card-header border-0">
            <h3 class="mb-0">Administra los clientes de la empresa.</h3>
          </div>
          <div class="col-3 pt-2 offset-md-2">
            <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto" onsubmit="return false">
              <div class="form-group mb-0" >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input #correo (keyup.enter)="searchUser(correo.value)" class="form-control" placeholder="Buscar" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
      <div class="table-responsive" >
        <table class="table align-items-center table-flush" >
          <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center">Numero_Lista</th>
            <th scope="col" class="text-center">Username</th>
            <th scope="col" class="text-center">Password</th>
            <th scope="col" class="text-center">Numero Telefono</th>
            <th scope="col" class="text-center">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let user of usersFilter" >
            <th scope="row">
              <div class="media align-items-center">
              <td class="text-left">
              <div ngbDropdown placement="bottom-left">
                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu class=" dropdown-menu-left dropdown-menu-arrow">
                  <a class="dropdown-item" (click)="deleteUser(user)" >Eliminar</a>
                </div>
              </div>
            </td>
                <div class="media">
                  <span class="mb-0 text-sm">{{user.id}}</span>
                </div>
              </div>
            </th>
            <td class="text-center" id="{{user.username}}">
              {{user.username}}
            </td>
            <td class="text-center">
            <input #Password type="password" id="password" required size="10" value="{{user.password}}" readonly="readonly"/>
            <button (click)="Password.type=Password.type=='password'?'text':'password'"><i class='fas fa-eye-slash'></i></button>     
            </td>
            <td class="text-center">
              {{user.phoneNumber}}
            </td>
            <td class="text-center" *ngIf="user.role==='2'">
              Cliente
            </td>
            <td  class="text-center" *ngIf="user.role==='1'">
              Administrador
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
  <button class="btn btn-primary mat-raised-button mt-5 mb-2" id="addClients" (click)="openAdminUsersDialog()" type="button">Agregar Cliente </button>
  </div>
  </div>