<h2 mat-dialog-title class="input-label ml-3" style="font-weight: 799;" *ngIf="onCreate; else userTitle">AGREGAR PAQUETE
    EN BODEGA</h2>
<ng-template #userTitle>
    <h2 mat-dialog-title class="input-label ml-3" style="font-weight: 799;">EDITAR PAQUETE EN BODEGA</h2>
</ng-template>
<mat-dialog-content class="container-fluid d-flex flex-column align-items-center" style="margin: 0; padding: 0">
    <div class="container-fluid">
        <div>
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <form [formGroup]="warehousePackageForm">
                        <div class="pl-lg-4" style="margin-left: -40px;">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Cliente</label>
                                          <mat-select [formControl]="client_name" class="form-control form-control-alternative" >
                                            <mat-option *ngFor="let client of clients | async" [value]="client.client_name"> {{ client.client_name | titlecase }}</mat-option>
                                          </mat-select>
                                        <div class="validation-message"
                                            *ngIf="(client_name.dirty || client_name.touched) && client_name.invalid && client_name.errors.required">
                                            *Campo cliente obligatorio
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Número de tracking</label>
                                        <input [formControl]="tracking_number" type="text" id="tracking_number"
                                            class="form-control form-control-alternative" placeholder="Número tracking"
                                            value="">
                                        <div class="validation-message"
                                            *ngIf="(tracking_number.dirty || tracking_number.touched) && tracking_number.invalid && tracking_number.errors.required">
                                            *Campo número de tracking obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Precio</label>
                                        <input [formControl]="price" type="text" id="price"
                                            class="form-control form-control-alternative" placeholder="Precio" value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Peso en libras</label>
                                        <input [formControl]="pounds" type="text" id="pounds"
                                            class="form-control form-control-alternative" placeholder="Peso" value="">
                                        <div class="validation-message"
                                            *ngIf="(pounds.dirty || pounds.touched) && pounds.invalid && pounds.errors.required">
                                            *Campo peso obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Fecha llegada</label>
                                        <input [formControl]="arrival_date" type="date"
                                            id="arrival_date" class="form-control form-control-alternative"
                                            placeholder="DD/MM/AA" value="">
                                        <div class="validation-message"
                                            *ngIf="(arrival_date.dirty || arrival_date.touched) && arrival_date.invalid && arrival_date.errors.required">
                                            *Campo fecha de llegada obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 10px;">
                                <div class="form-group">
                                    <label class="form-control-label">Fotos</label>
                                    <input formControlName="file" id="file" type="file" class="form-control-file"
                                        multiple="" (change)="onFileChange($event)">
                                    <div *ngIf="formValue.file.touched && formValue.file.invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="formValue.file.errors && formValue.file.errors.required">Se
                                            requiere de fotos.</div>
                                    </div>
                                </div>
                                <div class="preview-wrapper">
                                    <div class="d-flex flex-row">
                                        <div class="img-preview" *ngFor='let url of colectionImages'>
                                            <div class="d-flex flex-row">
                                                <img [src]="url" width="200px">
                                                <button type="button" style="height: 30px;"
                                                    class="btn btn-danger btn-sm" (click)="removeImage(url)">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="model-dialog-actions d-sm-flex flex-row justify-content-between mb-2" style="padding: 0">
    <button class="btn btn-primary mt-5 ml-3" style="width: 36%;" (click)="accept()" type="submit">Guardar</button>
    <button class="btn cancel-button mt-5 mr-3" style="width: 36%" (click)="cancel()">Cancelar</button>
</mat-dialog-actions>