<div class="contain">
    <main>
      <div class="login-register-box">
        <section class="register-box">
          <header>
            <p>Registrate y revisa el estado de tus paquetes</p>
          </header>
          <form action="#" class="register-form">
            <p>
              <label for="mail">
                <span class="field">Correo</span>
                <input type="email" name="mail" id="mail" required="required" />
              </label>
            </p>
            <p>
              <label for="pws">
                <span class="field">Contraseña</span>
                <input type="password" name="pws" id="pws" require="required"/>
              </label>
            </p>
            <p>
              <label for="cell">
                <span class="field">Teléfono</span>
                <input type="text" name="cell" id="cell" require="required"/>
              </label>
            </p>
            <p>
              <label for="act-code">
                <span class="field">Código de Activación</span>
                <input type="text" name="act-code" id="act-code" require="required"/>
              </label>
            </p>
            <fieldset class="contact-field">
              <legend>Medio de contacto</legend>
              <div class="contact-options">
                <label>
                  <input type="radio" name="contact-option" class="radio-contact" id="contact-option">
                  <span>Correo</span>
                </label>
                <label>
                  <input type="radio" name="contact-option" class="radio-contact" id="contact-option">
                  <span>Teléfono</span>
                </label>
              </div>
            </fieldset>
            <input type="submit" value="Crear Cuenta">
          </form>
        </section>
        <section class="login-box">
          <header>
            <p>Inicia Sesión</p>
          </header>
          <form action="#" class="login-form">
              <p>
                <label for="login-mail">
                  <span class="field">Correo</span>
                  <input type="email" name="login-mail" id="login-mail" required="required" />
                </label>
              </p>
              <p>
                <label for="login-pws">
                  <span class="field">Contraseña</span>
                  <input type="password" name="login-pws" id="login-pws" require="required"/>
                </label>
              </p>
              <input type="submit" value="Iniciar Sesión">
            </form>
        </section>
      </div>
    </main>
  </div>
  