<div class="contain">
    <main>
      <div class="login-register-box">
        <section class="register-box">
          <header>
            <p>Registrate y revisa el estado de tus paquetes</p>
            <p class="hidden" id="registered">El usuario ya se encuentra registrado</p>
            <p class="hidden" id="missing">Favor de llenar todos los campos</p>
          </header>
          <form class="register-form" id="register-form">
            <p>
              <label for="mail">
                <span class="field">Correo</span>
                <input [(ngModel)]="client.correo" type="email" name="mail" required="required" />
              </label>
            </p>
            <p>
              <label for="pws">
                <span class="field">Contraseña</span>
                <input [(ngModel)]="client.password" type="password" name="pws" require="required"/>
              </label>
            </p>
            <p>
              <label for="cell">
                <span class="field">Teléfono</span>
                <input [(ngModel)]="client.telefono" type="text" name="cell" require="required"/>
              </label>
            </p>
            <fieldset class="contact-field" require="required">
              <legend>Medio de contacto</legend>
              <div class="contact-options">
                <label>
                  <input type="radio" name="contact-option" class="radio-contact" [(ngModel)]="client.contacto" [value]="contactOptions.correoOption">
                  <span>Correo</span>
                </label>
                <label>
                  <input type="radio" name="contact-option" class="radio-contact" [(ngModel)]="client.contacto" [value]="contactOptions.telefonoOption">
                  <span>Teléfono</span>
                </label>
              </div>
            </fieldset>
            <input (click)="register()" type="submit" value="Crear Cuenta">
          </form>
        </section>
        <section class="login-box">
          <header>
            <p>Inicia Sesión</p>
            <p class="hidden" id="non-existence">Usuario no existe, favor de registrarse</p>
            <p class="hidden" id="wrong-credentials">Credenciales incorrectas</p>
            <p class="hidden" id="missing-credentials">Favor de llenar todos los campos</p>
          </header>
          <form class="login-form" id="login-form">
              <p>
                <label for="login-mail" class="form-label">
                  <span class="field">Correo</span>
                  <input [(ngModel)]="user.correo" name="login-mail" type="email" required="required" />
                </label>
              </p>
              <p>
                <label for="login-pws" class="form-label">
                  <span class="field">Contraseña</span>
                  <input [(ngModel)]="user.password" type="password" require="required"/>
                </label>
              </p>
              <input (click)="logIn()" type="submit" value="Iniciar Sesión">
            </form>
        </section>
      </div>
    </main>
  </div>
  