<div class="header main-background pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
   <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">01/01/2022</h3>
        </div>
            <div class="card-body">  
              <div class="alert main-background alert-dismissible fade show" role="alert">
              <span class="alert-inner--icon mr-2"><i class="ni ni-like-2"></i></span>
              <span class="alert-inner--text">Nuevo cliente!! YiamR se registro en la aplicación!</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="alert icon-two alert-dismissible fade show" role="alert">
              <span class="alert-inner--icon mr-2"><i class="ni ni-like-2"></i></span>
              <span class="alert-inner--text">Seguidores!! Tienes 3 nuevos seguidores en Instagram!</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="alert icon-one alert-dismissible fade show" role="alert">
              <span class="alert-inner--icon mr-2"><i class="ni ni-like-2"></i></span>
              <span class="alert-inner--text">Paquetes!! 4 paquetes han sido enviados en los ultimos 3 días!</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="alert main-background alert-dismissible fade show" role="alert">
              <span class="alert-inner--icon mr-2"><i class="ni ni-like-2"></i></span>
              <span class="alert-inner--text">Información!! 2 paquetes estan en la bodega de Miami!</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="alert icon-two alert-dismissible fade show" role="alert">
              <span class="alert-inner--icon mr-2"><i class="ni ni-like-2"></i></span>
              <span class="alert-inner--text">Danger!! Un cliente ingreso 3 veces incorrectamente la contraseña!</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="alert icon-one alert-dismissible fade show" role="alert">
              <span class="alert-inner--icon mr-2"><i class="ni ni-like-2"></i></span>
              <span class="alert-inner--text">Danger!! El servidor web presenta problemas de conexión!</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
