<nav class="navbar nav-fill justify-content-end navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mb-0 h1" ><img class="d-inline-block align-top imagen" height="40" width="60" src="../../../assets/img/brand/Sava.png" ></a>
        <button (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-link nav-item py-2 px-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/inicio']" >Inicio</a></li>
                <li><a class="nav-link nav-item py-2 px-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/inicio/paquetes']">Envios</a></li>
                <li *ngIf="(isLoggedIn)" (click)="onLogOut()"><a class="nav-link nav-item py-2 px-3" [routerLink]="['/inicio/login']">Cerrar Sesión</a></li>
                <li *ngIf="!(isLoggedIn)" ><a class="nav-link nav-item py-2 px-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/inicio/login']">Iniciar Sesion</a></li>
            </ul>
        </div>
    </div>
</nav>