/* You can add global styles to this file, and also import other style files */
$blue-main-color: #003462;
$light-blue-color: #2D6CB5;
$lightest-blue-color: #44789D;
$yellow-color: #FEBE10;
$title-font: 'sonder-sans-black',
sans-serif;
$information-messages-font: 'gotham-rounded-book',
sans-serif;
$content-font: Open Sans,
sans-serif;

.main-background {
    background-color: $blue-main-color;

}

.icon-color-sidebar{
    color: $blue-main-color;
}

.text-color-sidebar{
    color: white !important;
}


.color-navbar {
    background-color: white;
}

.card-title {

    font-family: $title-font;
}